.clearfix
{
  padding: 10px 12px;
}

.clearfix::after
{
  content: "";
  clear: both;
  display: table;
}

.dropdown-menu
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 350px;
  border: 1px solid black;
  overflow: auto;
  text-align: center;
}

.dropdown-menu li
{
  padding: 8px 16px;
  border-bottom: 1px solid black;
}

.dropdown-menu li:last-child
{
  border-bottom: none;
}

.dropdown-menu a
{
  padding: 8px 16px;
  color:black;
  text-decoration: none;
}

.dropdown-menu a:hover
{
  color: white;
  background-color: tan;
}

#mainPage_BodyParagraphs
{
  margin: 15px 15px;
  padding: 10px 15px;
  border: 2px solid gray;
  background: #00a1ff1a;
}

.labs-menu
{
  margin: 15px 15px;
  padding: 10px 15px;
  border: 2px solid gray;
  background: #00a1ff1a;
}

#homepage-title
{
  font-size: 150%;
  font-family: Georgia;
}

#my-photo
{
  float: right;
  width: 300px;
  padding-right: 50px;
}
