h1
{
  font-family: "Lucida Console", "Courier New", monospace;
}

h2
{
  font-family: "Lucida Console", "Courier New", monospace;
}

#outputBlock
{
  border: 2px solid dodgerblue;
  padding: 5px 5px;
  margin: 10px 0px;
}

#moveElementButton
{
  font-size: 15px;
  padding: 12px 20px;
  color: white;
  background-color: CornflowerBlue;
  border: none;
}

.bodyParagraphs
{
  border: 3px solid tomato;
  padding: 15px 20px;
}

.bodyParagraphs h2
{
  margin: 15px 0px;
}

.labImages
{
  width : 20%;
  float : right;
}

.clearfix
{
  border: 2px solid gold;
  padding: 5px 5px;
  margin: 10px 3px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
