h1
{
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: 1px 0px;
}

h2
{
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: 1px 0px;
}

hr
{
  border-top: 2px solid gold;

  width: 80%;
  text-align: left;
  margin-left: 0px;
}

input
{
  border: none;
  border-bottom: 1px solid gray;
}

#outputBlock
{
  border: 2px solid dodgerblue;
  padding: 5px 5px;
  margin: 10px 3px;
}

#inputButton
{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
  padding: 6px 12px;
  color: white;
  background-color: CornflowerBlue;
  border: none;
}

#extraButton
{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
  padding: 6px 12px;
  color: white;
  background-color: CornflowerBlue;
  border: none;
}

.bodyParagraphs
{
  border: 3px solid tomato;
  padding: 15px 15px;
  width: 75%;
}

.bodyParagraphs h2
{
  margin: 15px 0px;
}
