#intro
{
  color:white;
  background-color: gray;
  font-size: 180%;
  font-weight: bold;
}

.main
{
  color:yellow;
  background-color: #00beff;
  padding: 20px;
  margin: 10px;
  width: 800px;
}

.main #intro
{
  color: #00beff;
  background-color: yellow;
}

.imgintro
{
  background-color: gray;
  color:white;
  padding:20px;
  font-size: 150%;
}
